:root{
    --primary: #fff;
}
.btn{
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}
.btn--primary{
    background-color: #3fe991;
    color: #02311b;
    border: 1px solid #3fe991;
    border-radius: 10px;
    margin-left: 8px;
    width: 175px;
    
}
.btn--outline{
    background-color: #3fe991;
    color: #02311b;
    padding: 8px 20px;
    width: 175px;
    border: 1px solid #0cad5a;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}
.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}
.btn--large{
    padding: 12px 26px;
    font-size: 20px;
}
.btn--medium:hover, .btn--large:hover{
    background: #000000;
    color:#0cad5a;
    transition: all 0.3s ease-out;
}